@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;1,100;1,200&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;1,100;1,200&family=Rubik:wght@800&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: right;
    background: #219ebc;
    padding: 20px;
}

nav a {
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: #ffb703;
    text-decoration: none;
}

footer {
    background: #219ebc;
    padding: 10px;
    text-align: center;
    flex-shrink: 0;
    padding: 20px;
}

footer, .contact {
    margin-top: 5rem;
}

footer a {
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
}

footer a:hover {
    background-color: white;
    color: #ffb703;
    text-decoration: none;
}

section {
    padding-left: 5rem;
    padding-right: 5rem;
}


.intro {
    display: block;
    justify-content: center;
    text-align: center;
    color: #ffb703;
    background-color: #fff9f2;;
    font-family: 'Bebas Neue', sans-serif;
    height: 16rem;
    padding-top: 12rem;
    padding-bottom: 4rem;
}

.intro img {
    position: absolute;
    top: 150px;
    width: 20rem;
    height: 100%;
    max-height: 24rem;
}

.intro .img1 {
    left: 5rem;
    border-radius: 10% 0% 0% 10%;
}

.intro .img2 {
    left: 25rem;
}

.intro .img3 {
    left: 45rem;
}

.intro .img4 {
    left: 65rem;
    border-radius: 0% 10% 10% 0%;
}

.intro div {
    position: relative;
    background-color: #fff9f2;;
}

.resume {
    font-size: medium;
    line-height: 200%;
    color: dimgray;
    background-color: #fff9f2;
    font-family: 'Barlow Condensed', sans-serif;
    padding-bottom: 10rem;
}


section a {
    color: #023047;
    font-size: medium;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

section a:hover {
    color: white;
    background-color: #ffb703;
    font-size: medium;
}



hr {
    border: 1px solid #243f46;
    border-radius: 1px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.resume img {
    width: 100%;
    max-width: 100%;
    border-radius: 0% 4%;
    height: 10rem;
}

.resume .headshot {
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
}

.card {
    border: black;
    padding: 1rem;
    border-width: 100rem;
    border-radius: 0% 4%;
    background-color: white;
    box-shadow: 36px 48px 1px rgba(13, 58, 154, 0.2);
}

.three-col {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-column-gap: 5rem;
}

.one-col {
    display: grid;
    grid-template-columns: 12fr;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    padding-top: 1rem;
    gap: 2rem;
}

.card ul {
    display: grid;
    grid-template-columns: 12fr;
}

.card dl div {
    display: flex;
    justify-content: space-between;
}

.summary {
    text-align: center;
    padding-top: 4rem;
}

.contact {
    text-align: center;
    color: #ffb703;
    font-family: 'Bebas Neue', sans-serif;
}

.contact-page {
    background-color: #fff9f2;
}

.input {
    width: 30rem;
    margin: 1rem;
}

.submit {
    background-color: #ffb703;
    color: white;
    border: none;
    height: 2rem;
}